extends layout

include _candidate_activity_detail

block goback
	a.goback(href='/',title='Go Back to Dashboard') Go Back to Dashboard

block scripts
	script(src='/node_modules/requirejs/require.js', data-main='/public/scripts/candidate')

block content

	div.candidate.page.personal-details
		h1 
			img.candidate-image(src=avatarImageUrl || '/public/images/icon_78759_profile.svg')
			div
				span.name #{name}
				span.user-role Employee

		div.candidate-view
			div
				button.personal-details.active Personal Details
				button.history History
				
		section.personal-details
			h3 Personal Details
				a.edit(href='#')  Edit

			div
				div.first-name
					label First Name
					span #{firstName}

				div.last-name
					label Last Name
					span #{lastName}

				div.dob
					label Date of Birth
					span #{dobText}
					span  | 
					span.age #{age} y.o.

				div.gender
					label Gender
					span #{gender}

			div
				div.email
					label Email
					span #{email}

				div.phone
					label Phone
					span #{phone}

				div.mobile
					label Mobile
					span #{mobile}

			div
				div.home-address
					label Home Address
					span #{homeAddress}

				div.postal-address
					label Postal Address
					span #{postalAddress}

		section.history
			h3 History

			div
				ul.history-list.filter-all
					-each activity in recentActivity
						-if(activity.gap)
							li.gap
								span #{activity.monthYear}
						li.activity(class=activity.activityType)
							div
								img(src=activity.iconImageUrl)

							div
								a(href='/candidate/' + id + '/' + activity.id,title='Show more details') !{activity.text}
								span.date(title=activity.dateText) #{activity.dateCalendarText}

				aside.filters
					span Filters
					div
						-each activityType in allActivityTypes
							div.filter
								label
									input(type='checkbox', value=activityType.id)
									span #{activityType.title}
										span.filter-count (#{activityType.activitiesCount})
				-if (activityDetail)
					+_candidate_activity_detail(id, activityDetail)