extends layout

include _vacancy.jade

block scripts
	script(src='/node_modules/requirejs/require.js', data-main='/public/scripts/dashboard')

block content

	div.dashboard.page
		h1 Dashboard
		
		div.dashboard-view
			div
				button.candidates.active Candidates
				button.vacancies Vacancies
				button.events Events

		div.dashboard-row.candidates
			div.candidates
				h2 Candidates

				section
					h3 Active

					-each candidate in recentActiveCandidates
						div.candidate
							div.candidate-image
								img(src=candidate.avatarImageUrl || '/public/images/icon_78759_profile.svg')
							div.candidate-body
								h4.name
									a(href='/candidate/' + candidate.id) #{candidate.name}
								span.occupation  | #{candidate.occupation}

								ul.updates
									-each activity in candidate.recentActivity
										li
											span.update-text !{activity.text}
											span.update-date(title=activity.dateText) #{activity.dateCalendarText}

			div.vacancies
				h2 Vacancies

				section
					h3 Today

					-each vacancy in recentVacanciesToday
						+vacancy(vacancy)

				section
					h3 Yesterday

					-each vacancy in recentVacanciesYesterday
						+vacancy(vacancy)

			div.events