extends layout

include _vacancy.jade

block content

	div.dashboard
		h1 Dashboard
		
		div
			div.candidates
				h2 Candidates

				h3 Active

				-each candidate in recentActiveCandidates
					div.candidate
						div.candidate-image
							img(src=candidate.avatarImageUrl || '/public/images/icon_78759_profile.svg')
						div.candidate-body
							h4.name #{candidate.name}
							span.occupation  | #{candidate.occupation}

							ul.updates
								-each activity in candidate.recentActivity
									li
										span.update-text !{activity.text}
										span.update-date(title=activity.dateText) #{activity.dateCalendarText}

			div.vacancies
				h2 Vacancies

				h3 Today

				-each vacancy in recentVacanciesToday
					+vacancy(vacancy)

				h3 Yesterday

				-each vacancy in recentVacanciesYesterday
					+vacancy(vacancy)